<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="{{ .Site.BaseURL }}images/headshot.jpg" class="rounded-circle" id="avatar">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h1 class="display-3">Yoshitomo Matsubara</h1>
        <p class="lead">ex-Founding Research Engineer at Spiffy AI | ML OSS developer<br>Ph.D. in Computer Science</p>
        <a href="https://scholar.google.com/citations?user=hCX-ZYUAAAAJ&hl=en&oi=ao" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/google-scholar.png" class="icon"></a>
        <a href="https://www.semanticscholar.org/author/Yoshitomo-Matsubara/8837664" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/semantic-scholar.png" class="icon"></a>
            <a href="https://github.com/yoshitomo-matsubara" target="_blank"><img
                src="{{ .Site.BaseURL }}images/icons/github.png" class="icon"></a>
        <a href="https://huggingface.co/yoshitomo-matsubara" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/hugging-face.png" class="icon"></a>
        <a href="https://www.linkedin.com/in/yoshitomo-matsubara" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/linkedin.png" class="icon"></a>
        <a href="https://bsky.app/profile/yoshitomo-cs.bsky.social" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/bluesky.png" class="icon"></a>
        <a href="https://www.threads.net/@yoshitomo_cs" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/threads.png" class="icon"></a>
        <a href="https://twitter.com/yoshitomo_cs" target="_blank"><img
            src="{{ .Site.BaseURL }}images/icons/twitter.png" class="icon"></a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      {{/* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">  */}}
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav nav-pills nav-justified">

          <li class="nav-item">
            <a class="menu-item text-nowrap nav-link {{ if .IsHome }} active {{ end }} " href="{{ .Site.Home.Permalink }}"><i class="bi bi-house"></i> Home</a>
          </li>

          {{ $currentPage := . }}
          {{ range .Site.Menus.main.ByWeight }}

          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class='menu-item text-nowrap nav-link dropdown-toggle  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
              href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="{{ .Name }}"></i> {{ .Title }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {{ range .Children }}
              <li>
                <a class='menu-item dropdown-item  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
                  href="{{ .URL }}"> {{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
          </li>

          {{ else }}
          <li class="nav-item">
            <a class='menu-item text-nowrap nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
              href="{{ absURL .URL }}">
              <i class="{{ .Name }}"></i> {{ .Title }}
            </a>
          </li>
          {{ end }}

          {{ end }}

        </ul>
      </div>
    </nav>
  </div>
</div>