<!-- Projects section -->
<div class="container overflow-hidden mt-5">
  <div class="row gy-lg-5 gy-sm-4">
    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <a href="{{ .Site.BaseURL }}/projects/kd/">
            <img height="192px" width="192px" class="rounded border border-success" src="{{ .Site.BaseURL }}/images/projects/kd.jpeg" alt="simple distillation process, icon">
          </a>
        </div>
        <div class="col text-center text-lg-left">
          <h3>Knowledge Distillation</h3>
          <p>
            Model compression and beyond.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <a href="{{ .Site.BaseURL }}/projects/oss/">
            <img height="192px" width="192px" class="rounded border border-success" src="{{ .Site.BaseURL }}/images/projects/oss.jpeg" alt="arrow traffic sign with text OSS">
          </a>
        </div>
        <div class="col text-center text-lg-left">
          <h3>Open Source Software</h3>
          <p>
            I develop and open-source (mostly ML) frameworks that boost my research and I hope would be useful for the
            research community too.
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <a href="{{ .Site.BaseURL }}/projects/ir-qa/">
            <img height="192px" width="192px" class="rounded border border-success" src="{{ .Site.BaseURL }}/images/projects/ir-qa.jpeg" alt="robots searching for data in digital world">
          </a>
        </div>
        <div class="col text-center text-lg-left">
          <h3>Information Retrieval / Question Answering</h3>
          <p>
            Natural language processing for efficient IR and QA systems
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <a href="{{ .Site.BaseURL }}/projects/sc2/">
            <img height="192px" width="192px" class="rounded border border-success" src="{{ .Site.BaseURL }}/images/projects/computing.jpeg" alt="edge computing">
          </a>
        </div>
        <div class="col text-center text-lg-left">
          <h3>Supervised Compression for Split Computing</h3>
          <p>
            Weak mobile device, limited communication capacity, strong edge server. How can we achieve efficient
            inference?
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <a href="{{ .Site.BaseURL }}/projects/srsd/">
            <img height="192px" width="192px" class="rounded border border-success" src="{{ .Site.BaseURL }}/images/projects/srsd.jpeg" alt="a person observes a big tree of apples, some apples are falling">
          </a>
        </div>
        <div class="col text-center text-lg-left">
          <h3>Symbolic Regression for Scientific Discovery</h3>
          <p>
            Can we (re)discover hidden laws from observed data?
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col gy-3">
        <div class="col-auto mx-auto d-block text-center">
          <a href="{{ .Site.BaseURL }}/projects/peer_review/">
            <img height="192px" width="192px" class="rounded border border-success" src="{{ .Site.BaseURL }}/images/projects/peer_review.jpeg" alt="researchers carefully reading a research paper, illustration">
          </a>
        </div>
        <div class="col text-center text-lg-left">
          <h3>Peer Review Systems</h3>
          <p>
            What are the problems in the current scientific peer review systems? How can we imporve the systems?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>