Dr. Yoshitomo Matsubara (松原 慶朋) is a Research Scientist at Yahoo! and an ML OSS developer. He completed the Ph.D. program in Computer Science
at University of California, Irvine (UCI) and worked on deep learning for resource-constrained edge computing systems with
Profs. <a class="no-decoration-link" href="https://iasl.ics.uci.edu/people/marco-levorato/" target="_blank">Marco Levorato</a>, 
<a class="no-decoration-link" href="http://www.stephanmandt.com/" target="_blank">Stephan Mandt</a>, and 
<a class="no-decoration-link" href="https://sameersingh.org/" target="_blank">Sameer Singh</a>. Before UCI, he obtained his Master
and Bachelor degrees at University of Hyogo and National Institute of Technology, Akashi College, Japan, respectively. 
<br><br>
His main research interests are in machine learning, natural language processing, computer vision, information
retrieval, and ML for science.
For deep learning, his main interests are in knowledge distillation and supervised compression.
He is also an ML OSS developer: 
<a class="no-decoration-link" href="https://github.com/yoshitomo-matsubara/torchdistill" target="_blank">torchdistill</a> (PyTorch Ecosystem) and 
<a class="no-decoration-link" href="https://github.com/yoshitomo-matsubara/sc2-benchmark" target="_blank">sc2bench</a>.