<b>November 20, 2023</b><br>
		I was selected as a Top Reviewer of <b><i>NeurIPS 2023</i></b>.
		<hr class="news-separator">
		<b>October 27, 2023</b><br>
		Our paper was accepted (Oral) at <b><i>NeurIPS 2023 AI for Scientific Discovery: From Theory to Practice</i></b>.
		<hr class="news-separator">
		<b>October 9, 2023</b><br>
		Our paper was accepted at <b><i>EMNLP 2023 Workshop for Natural Language Processing Open Source Software (NLP-OSS)</i></b>.
		<hr class="news-separator">
		<b>July 9, 2023</b><br>
		I am attending <b><i>ACL 2023</i></b> at Toronto, Canada.
		<hr class="news-separator">
		<b>May 25, 2023</b><br>
		Our paper was accepted at <b><i>Transactions on Machine Learning Research (TMLR)</i></b>.
		<hr class="news-separator">
		<b>May 2, 2023</b><br>
		Our paper was accepted at <b><i>ACL 2023</i></b> as a long paper (Findings).
		<hr class="news-separator">
		<b>April 10, 2023</b><br>
		Our paper was accepted at <b><i>ICDCS 2023</i></b>.
		<hr class="news-separator">
		<b>March 7, 2023</b><br>
		I renovated my personal website.
		<hr class="news-separator">
		<b>November 29, 2022</b><br>
		I am attending <b><i>NeurIPS 2022</i></b> at New Orleans, LA, USA.
		<hr class="news-separator">
		<b>November 1, 2022</b><br>
		I was selected as an Outstanding Reviewer of <b><i>NeurIPS 2022 Datasets & Benchmarks track</i></b>.
		<hr class="news-separator">
		<b>November 1, 2022</b><br>
		I was selected as a Top Reviewer of <b><i>NeurIPS 2022 (main track)</i></b>.
		<hr class="news-separator">
		<b>October 20, 2022</b><br>
		Our paper was accepted at <b><i>NeurIPS 2022 AI for Science: Progress and Promises</i></b>.
		<hr class="news-separator">
		<b>October 6, 2022</b><br>
		Our paper was accepted at <b><i>EMNLP 2022</i></b> as a long paper (Findings).
		<hr class="news-separator">
		<b>July 10, 2022</b><br>
		I am attending <b><i>NAACL 2022</i></b> at Seattle, WA, USA.
		<hr class="news-separator">
		<b>April 21, 2022</b><br>
		I was selected as a Highlighted Reviewer of <b><i>ICLR 2022</i></b>.
		<hr class="news-separator">
		<b>March 28, 2022</b><br>
		I joined <b><i>Amazon Alexa AI</i></b> as an applied scientist.
		<hr class="news-separator">
		<b>March 23, 2022</b><br>
		I was selected as a Top Contributor of <b><i>Papers with Code</i></b>.
		<hr class="news-separator">
		<b>March 18, 2022</b><br>
		I completed my Ph.D. program at <b><i>University of California, Irvine</i></b> and obtained Ph.D. in Computer Science.
		<hr class="news-separator">
		<b>March 14, 2022</b><br>
		Our paper was accepted at <b><i>ACM Computing Surveys (CSUR)</i></b>.
		<hr class="news-separator">
		<b>March 5, 2022</b><br>
		Our paper was accepted at <b><i>IEEE WoWMoM 2022</i></b>.
		<hr class="news-separator">
		<b>February 14, 2022</b><br>
		I successfully defended my Ph.D. thesis "Towards Split Computing: Supervised Compression for Resource-Constrained Edge Computing Systems".
		<hr class="news-separator">
		<b>January 13, 2022</b><br>
		I gave a tutorial "Reliable Real-Time Distributed AI for Mobile Autonomous Systems" with Prof. Marco Levorato at <b><i>ICOIN 2022</i></b>.
		<hr class="news-separator">
		<b>January 4, 2022</b><br>
		I am attending <b><i>WACV 2022</i></b> at Waikoloa, HI, USA.
		<hr class="news-separator">
		<b>January 3, 2022</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">