<b>November 29, 2022</b><br>
		I attended <b><i>NeurIPS 2022</i></b> at New Orleans, LA, USA.
		<hr class="news-separator">
		<b>November 1, 2022</b><br>
		I was selected as an Outstanding Reviewer of <b><i>NeurIPS 2022 Datasets & Benchmarks track</i></b>.
		<hr class="news-separator">
		<b>November 1, 2022</b><br>
		I was selected as a Top Reviewer of <b><i>NeurIPS 2022 (main track)</i></b>.
		<hr class="news-separator">
		<b>October 20, 2022</b><br>
		Our paper was accepted to <b><i>NeurIPS 2022 AI for Science: Progress and Promises</i></b>.
		<hr class="news-separator">
		<b>October 6, 2022</b><br>
		Our paper was accepted to <b><i>EMNLP 2022</i></b> as a long paper (Findings).
		<hr class="news-separator">
		<b>July 10, 2022</b><br>
		I attended <b><i>NAACL 2022</i></b> at Seattle, WA, USA.
		<hr class="news-separator">
		<b>April 21, 2022</b><br>
		I was selected as a Highlighted Reviewer of <b><i>ICLR 2022</i></b>.
		<hr class="news-separator">
		<b>March 28, 2022</b><br>
		I joined <b><i>Amazon Alexa AI</i></b> as an applied scientist.
		<hr class="news-separator">
		<b>March 23, 2022</b><br>
		I was selected as a Top Contributor of <b><i>Papers with Code</i></b>.
		<hr class="news-separator">
		<b>March 18, 2022</b><br>
		I completed my Ph.D. program at <b><i>University of California, Irvine</i></b> and obtained Ph.D. in Computer Science.
		<hr class="news-separator">
		<b>March 14, 2022</b><br>
		Our paper was accepted to <b><i>ACM Computing Surveys (CSUR)</i></b>.
		<hr class="news-separator">
		<b>March 5, 2022</b><br>
		Our paper was accepted to <b><i>IEEE WoWMoM 2022</i></b>.
		<hr class="news-separator">
		<b>February 14, 2022</b><br>
		I successfully defended my Ph.D. thesis "Towards Split Computing: Supervised Compression for Resource-Constrained Edge Computing Systems".
		<hr class="news-separator">
		<b>January 13, 2022</b><br>
		I gave a tutorial "Reliable Real-Time Distributed AI for Mobile Autonomous Systems" with Prof. Marco Levorato at <b><i>ICOIN 2022</i></b>.
		<hr class="news-separator">
		<b>January 4, 2022</b><br>
		I attended <b><i>WACV 2022</i></b> at Waikoloa, HI, USA.
		<hr class="news-separator">
		<b>January 3, 2022</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">
		<b>October 9, 2021</b><br>
		I received the Best Application Award in the category of AI, Machine Learning, and Data Analysis at <b><i>GEEK TEN 2021</i></b> for torchdistill.
		<hr class="news-separator">
		<b>October 4, 2021</b><br>
		Our paper was accepted to <b><i>WACV 2022</i></b>.
		<hr class="news-separator">
		<b>September 20, 2021</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">
		<b>September 16, 2021</b><br>
		I gave a seminar "Symbolic Regression for Scientific Discovery" for <b><i>JST-MIRAI-MEEP Program</i></b>.
		<hr class="news-separator">
		<b>June 21, 2021</b><br>
		This quarter, I am working for <b><i>OMRON SINIC X Corporation</i></b> as a research intern.
		<hr class="news-separator">
		<b>June 17, 2021</b><br>
		I serve as a technical staff for <b><i>ACL Rolling Review</i></b>.
		<hr class="news-separator">
		<b>March 29, 2021</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">
		<b>January 4, 2021</b><br>
		This quarter, I am working as a graduate student researcher and for <b><i>Amazon.com Services, Inc.</i></b> as an applied scientist intern.
		<hr class="news-separator">
		<b>December 7, 2020</b><br>
		I will serve as a program committee member of <b><i>NAACL 2021 Workshop on Scholarly Document Processing</i></b>.
		<hr class="news-separator">
		<b>November 25, 2020</b><br>
		My paper was accepted to <b><i>ICPR 2020 Workshop on Reproducible Research in Pattern Recognition</i></b>.
		<hr class="news-separator">
		<b>November 20, 2020</b><br>
		Our paper presented at <b><i>EMNLP 2020 NLP COVID-19 Workshop (Part 2)</i></b> received the Best Paper Award.
		<hr class="news-separator">
		<b>November 20, 2020</b><br>
		Our paper was accepted to <b><i>IEEE Access</i></b>.
		<hr class="news-separator">
		<b>October 30, 2020</b><br>
		I am volunterring for the first fully virtual <b><i>NeurIPS 2020</i></b>.
		<hr class="news-separator">
		<b>October 17, 2020</b><br>
		Our papper was accepted to <b><i>IEEE Access</i></b>.
		<hr class="news-separator">
		<b>October 1, 2020</b><br>
		Our papper was accepted to <b><i>EMNLP 2020 NLP COVID-19 Workshop (Part 2)</i></b>.
		<hr class="news-separator">
		<b>September 28, 2020</b><br>
		This quarter, I am working as a graduate student researcher and for <b><i>Amazon.com Services, Inc.</i></b> as an applied scientist intern.
		<hr class="news-separator">
		<b>August 16, 2020</b><br>
		Our papper was accepted to <b><i>GLOBECOM 2020</i></b>.
		<hr class="news-separator">
		<b>August 2, 2020</b><br>
		Our papper was accepted to <b><i>ICPR 2020</i></b>.
		<hr class="news-separator">
		<b>July 28, 2020</b><br>
		Our papper was accepted to <b><i>MobiCom 2020 Workshop on Embedded and Mobile Deep Learning</i></b>.
		<hr class="news-separator">
		<b>July 27, 2020</b><br>
		Our papper was accepted to <b><i>JCDL 2020 Workshop on Mining Scientific Publications</i></b>.
		<hr class="news-separator">
		<b>July 1, 2020</b><br>
		I am volunterring for the first fully virtual <b><i>ICML 2020</i></b>.
		<hr class="news-separator">
		<b>June 22, 2020</b><br>
		This quarter, I am working for <b><i>Amazon.com Services, Inc.</i></b> as an applied scientist intern.
		<hr class="news-separator">
		<b>May 22, 2020</b><br>
		Our invention of Flick Authentication is registered as JP Patent No. 6707271.
		<hr class="news-separator">
		<b>April 24, 2020</b><br>
		My work with Thuy Vu and Alessandro Moschitti at <b><i>Amazon.com Service, Inc.</i></b> was accepted as a short paper for <b><i>SIGIR 2020</i></b>.
		<hr class="news-separator">
		<b>April 8, 2020</b><br>
		I am volunterring for the first fully virtual <b><i><a href="https://iclr.cc/Conferences/2020/Volunteers" target="_blank">ICLR 2020</a></i></b>.
		<hr class="news-separator">
		<b>March 25, 2020</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">
		<b>March 6, 2020</b><br>
		We, UCI Table Tennis Club Varsity team, are invited to the <b><i><a href="http://www.nctta.org/champs/2020/index.html" target="_blank">2020 iSET College Table Tennis National Championships</a></i></b>.
		<hr class="news-separator">
		<b>February 29, 2020</b><br>
		We, UCI Table Tennis Club Varsity team, placed 4th in <b><i>NCTTA West Regional Championships</i></b>.
		<hr class="news-separator">
		<b>February 1, 2020</b><br>
		We, UCI Table Tennis Club Varsity team, won the <b><i>Socal East Division</i></b>.
		<hr class="news-separator">
		<b>January 2, 2020</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">
		<b>October 21, 2019</b><br>
		I presented <a href="https://dl.acm.org/citation.cfm?id=3356022" target="_blank">our work</a> at <b><i>MobiCom 2019 Workshop on Hot Topics in Video Analytics and Intelligent Edges</i></b>.
		<hr class="news-separator">
		<b>October 21, 2019</b><br>
		I attended <b><i>MobiCom 2019</i></b> at Los Cabos, Mexico.
		<hr class="news-separator">
		<b>September 23, 2019</b><br>
		This quarter, I am working as a graduate student researcher.
		<hr class="news-separator">
		<b>September 23, 2019</b><br>
		In 2019-2020 season, I serve as a vice president of UCI Table Tennis Club.
		<hr class="news-separator">
		<b>September 23, 2019</b><br>
		Our papper was accepted to <b><i>MobiCom 2019 Workshop on Hot Topics in Video Analytics and Intelligent Edges</i></b>.
		<hr class="news-separator">
		<b>September 17, 2019</b><br>
		I was invited to talk at Robot Learning Group in Osaka University, Japan.
		<hr class="news-separator">
		<b>June 24, 2019</b><br>
		This quarter, I am working for <b><i>Amazon.com Services, Inc.</i></b> as an applied scientist intern.
		<hr class="news-separator">
		<b>June 13, 2019</b><br>
		I passed my Ph.D. qualifying exam, and successfully advanced to candidacy.
		<hr class="news-separator">
		<b>June 5, 2019</b><br>
		Our team, Zotbot, was selected as a finalist (10 of 375 teams) for the Alexa Prize Socialbot Grand Challenge 3.
		<hr class="news-separator">
		<b>May 23, 2019</b><br>
		We, UCI Table Tennis Club Varsity team, was featured on UCI News <b><i><a href="https://news.uci.edu/2019/05/23/uci-table-tennis-team-places-fourth-in-national-championships/" target="_blank">"UCI table tennis team competes for first time in national championships, takes fourth place"</a></i></b>.
		<hr class="news-separator">
		<b>April 14, 2019</b><br>
		We, UCI Table Tennis Club Varsity team, placed 4th in <b><i><a href="http://www.nctta.org/champs/2019/index.html" target="_blank">iSET College Table Tennis National Championships</a></i></b>.
		<hr class="news-separator">
		<b>March 27, 2019</b><br>
		This quarter, I am assisting CS 273P: "<b><i>Machine Learning & Data Mining</i></b>".
		<hr class="news-separator">
		<b>March 27, 2019</b><br>
		We, UCI Table Tennis Club Varsity team, are featured on NCTTA, <b><i><a href="http://www.nctta.org/content/college-teams-embrace-first-trip-table-tennis-national-championships" target="_blank">"College Teams Embrace First Trip to Table Tennis National Championships"</a></i></b>.
		<hr class="news-separator">
		<b>March 9, 2019</b><br>
		We, UCI Table Tennis Club Varsity team, won the <b><i><a href="http://www.nctta.org/newsletters/mar2019/index.html" target="_blank">NCTTA West Regional Championships</a></i></b>, and advanced to the <b><i><a href="http://www.nctta.org/champs/2019/index.html" target="_blank">2019 iSET College Table Tennis National Championships</a></i></b>.
		<hr class="news-separator">
		<b>February 9, 2019</b><br>
		We, UCI Table Tennis Club Varsity team, won the <b><i>Socal East Division</i></b>.
		<hr class="news-separator">
		<b>January 7, 2019</b><br>
		This quarter, I am assisting CS 272: "<b><i>Statistical NLP</i></b>".
		<hr class="news-separator">
		<b>November 17, 2018</b><br>
		We, UCI Table Tennis Club varsity team, won the <b><i>Socal East & West Division</i></b>.
		<hr class="news-separator">
		<b>September 24, 2018</b><br>
		This quarter, I am assisting CS 273A: "<b><i>Machine Learning</i></b>".
		<hr class="news-separator">
		<b>June 25, 2018</b><br>
		This quarter, I am working for <b><i>Slice Technologies, Inc.</i></b> as a machine learning engineeering intern.
		<hr class="news-separator">
		<b>April 3, 2018</b><br>
		This quarter, I am assisting BANA 290: "<b><i>Advanced Data Analytics for Natural Language Processing</i></b>".
		<hr class="news-separator">
		<b>January 3, 2018</b><br>
		This quarter, I am assisting CS 273A: "<b><i>Machine Learning</i></b>".
		<hr class="news-separator">
		<b>September 28, 2017</b><br>
		This quarter, I am assisting ICS 32A: "<b><i>Python Programming with Libraries (Accelerated)</i></b>".
		<hr class="news-separator">
		<b>July 20, 2017</b><br>
		I was invited to speak on "Seminar of Study Abroad for Pursuing a Degree" at <b><i>Global Terrace, National Institute of Technology, Akashi College</i></b>.
		<hr class="news-separator">
		<b>June 26, 2017</b><br>
		I started to work for <b><i>Data & Science Solutions Group, Yahoo Japan Corporation</i></b> as a data scientist (contract employee).
		<hr class="news-separator">
		<b>April 3, 2017</b><br>
		This quarter, I am assisting CS 122B: "<b><i>Projects in Databases and Web Applications</i></b>".
		<hr class="news-separator">
		<b>January 9, 2017</b><br>
		This quarter, I am assisting ICS 45C: "<b><i>Programming in C/C++ as a Second Language</i></b>".
		<hr class="news-separator">
		<b>September 22, 2016</b><br>
		This quarter, I am assisting ICS 45J: "<b><i>Programming in Java as a Second Language</i></b>".
		<hr class="news-separator">
		<b>September 19, 2016</b><br>
		Our paper on flick authentication was accepted to <a href="http://www.icmla-conference.org/icmla16/" target="_blank"><b><i>ICMLA 2016</i></b></a>.
		<hr class="news-separator">
		<b>September 19, 2016</b><br>
		I enrolled in <b><i>Donald Bren School of Information & Computer Sciences</i></b> (Computer Science Ph.D. program) at the <b><i>University of California, Irvine</i></b>.
		<hr class="news-separator">
		<b>June 9, 2016</b><br>
		I was invited to speak on "Study Abroad to Pursue a Graduate Degree from "Zero" -Introduction and Preparation-" at <b><i>Global Terrace, National Institute of Technology, Akashi College</i></b>.
		<hr class="news-separator">
		<b>April 1, 2016</b><br>
		I joined the <b><i>Information Science Research Center for Social Applications</i></b> in the <b><i>Graduate School of Applied Informatics</i></b> at the <b><i>University of Hyogo</i></b> as a project researcher.
		<hr class="news-separator">
		<b>March 22, 2016</b><br>
		I graduated from <b><i>Graduate School of Applied Informatics</i></b> (<b><i>High Confidence Informatics Course</i></b> ) at the <b><i>University of Hyogo</i></b> and obtained a Master's degree in Applied Informatics.
		<hr class="news-separator">
		<b>January 25, 2016</b><br>
		I started to work for <b><i>Data & Science Solutions Group, Yahoo Japan Corporation</i></b> as a data scientist (contract employee).
		<hr class="news-separator">
		<b>November 30, 2015</b><br>
		I worked for <b><i>Yahoo Japan Corporation</i></b> as a special intern (data science).
		<hr class="news-separator">
		<b>November 12, 2015</b><br>
		I did a poster presentation at <b><i>The Fifth Symposium on Biometrics, Recognition and Authentication(SBRA2015)</i></b>.
		<hr class="news-separator">
		<b>October 25, 2015</b><br>
		Our technical report was published in <b><i>IEICE Technical Report</i></b>.
		<hr class="news-separator">
		<b>July 14, 2015</b><br>
		Our paper on keystroke dynamics was published in <a href="http://www.scirp.org/Journal/PaperInformation.aspx?PaperID=57901" target="_blank"><b><i>Journal of Information Security</i></b>.</a>
		<hr class="news-separator">
		<b>June 12, 2015</b><br>
		I obtained the <b><i>Grant Scholarship for Japanese Students</i></b> from JGC-S Scholarship Foundation.
		<hr class="news-separator">
		<b>April 16, 2015</b><br>
		Our paper on keystroke dynamics was published in <a href="http://www.scirp.org/Journal/PaperInformation.aspx?PaperID=55742" target="_blank"><b><i>Journal of Information Security</i></b></a>.
		<hr class="news-separator">
		<b>February 27, 2015</b><br>
		I worked for Recruit Holdings Co., Ltd. as a outsourced worker.
		<hr class="news-separator">
		<b>September 19, 2014</b><br>
		I took part in <b><i>Recruit Holdings Summer Internship 2014 Web Innovation Course Data Analysis Internship</i></b>, and won the victory in the team competition.
		<hr class="news-separator">
		<b>April 4, 2014</b><br>
		I enrolled in <b><i>Graduate School of Applied Informatics</i></b> (<b><i>High Confidence Informatics Course</i></b> ) at the <b><i>University of Hyogo</i></b>.
		<hr class="news-separator">
		<b>March 20, 2014</b><br>
		I graduated from <b><i>Advanced Course of Mechanical and Electronic System Engineering, Akashi National College of Technology</i></b> and obtained a Bachelor's degree in Engineering.
		<hr class="news-separator">
		<b>March 20, 2014</b><br>
		I received <b>President's Award in <i>INCT's Student Commendation</i></b> from the <b><i>Institute of National Colleges of Technology, Japan</i></b>.
		<hr class="news-separator">
		<b>March 1, 2014</b><br>
		I opened my home page.
